* {
    box-sizing: border-box;
    padding: 10px;
}

body {
    margin: 0 70px;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-weight: bold;
}

main p {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
}

main div {
    text-align: center;
    margin-top: 10px;
}

.begin-quiz {
    padding: 10px 20px;
    color: #fff;
    background-color: #b70fff;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.begin-quiz:hover {
    background-color: #c54bfa;
}

.begin-quiz:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.answer-btn {
    display: block;
    width: 40%;
    margin: 0 auto 10px auto;
    text-align: left;
}

.score-page {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-page h1, .score-page p {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.score-page div {
    padding-left: 0;
    padding-right: 0;
}

.score-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
}

.score-form p {
    flex: 1;
    font-size: 18px;
    flex-basis: 20%;
}

.score-form div {
    flex: 1;
    margin-top: 0;
}

.score-form input, .score-form button {
    padding: 5px 7px;
    margin-right: 5px;
}
